<html>
<app-cuenta></app-cuenta>
<br>
<br>
<div *ngIf="isUser" class="col-xl-12">
    <h2 style="color:White;">Ordenes Realizadas:  <i class="fa fa-refresh" aria-hidden="true" (click)="actualizar()"></i></h2>
    <div class="row">
        <div *ngFor="let data of ordenes" class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{data.fecha}}</div>
                            <br>
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Orden No. {{data.orden_id}}</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{data.tipo_entrega}}</div>
                            <br>
                            <br>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Q{{data.precio_total}}</div>
                        </div>
                        <div class="col-auto">
                            <div class="row">
                                {{data.estado}}
                            </div>
                            <div *ngIf="data.seCancela" class="row">
                                <input type="button" class="btn btn-danger" (click)="cancelar(data)" value="X">
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>

<div class="col-xl-12">
    <div class="form-group">
        <input type="text" id="productName" name="productName" placeholder="Nombre del Producto"
          (keyup)="productName($event)">
    </div>
    <br>
    <br>
    <h2 style="color:White;">Productos Disponibles:  <i class="fa fa-refresh" aria-hidden="true" (click)="actualizarP()"></i></h2>
    <div *ngFor="let data of productos">
        <h2 style="color:White;">{{data.categoria}}</h2>
        <div class="row">
            <div *ngFor="let datos of data.productos" class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div *ngIf="datos.Discount != 0" class="h5 mb-0 font-weight-bold text-gray-800">{{datos.Discount}}% de descuento!</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">Q{{datos.Price-(datos.Price * datos.Discount/100)}}</div>
                                <br>
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1" (click)="openProducto(datos)">{{datos.ProductName}}
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">{{datos.Description}}</div>
            
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    <img src="{{datos.ImagePath}}" width="70%" height="70%">
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fa fa-cart-plus fa-5x" aria-hidden="true" (click)="agregarCarrito(datos)"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</html>