<nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-right">
  <!-- style="background-color: #5fbae9;" -->
  <a class="navbar-brand" routerLink="/">AyDelivery2</a>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link">|</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">{{currentUser.name}}</a>
    </li>
  </ul>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <button mdbBtn color="secondary" (click)="openCarrito()">Carrito de Compras</button>
      </li>
      <li class="nav-item">
        <input *ngIf="isUser" type="button" (click)="logout()" class="btn btn-primary" value="Log Out">
        <button id="btn-login" *ngIf="!isUser" class="btn btn-primary" routerLink="/login">Iniciar Sesion</button>
      </li>
    </ul>
  </div>
  
  

</nav>