<html>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-right">
        <!-- style="background-color: #5fbae9;" -->
        <a class="navbar-brand" routerLink="/home">AyDelivery</a>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <button class="btn btn-primary" routerLink="/login" >Iniciar Sesion</button>
                </li>
            </ul>
        </div>

    </nav>


    <div class="wrapper mt-5">
        <div id="formContent">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 p-4">
                    <h1>Unete a Nuestra Comunidad!</h1>
                    <form [formGroup]="form"> 
                        <div class="form-group">
                            <input type="text" id="fullname" name="login" placeholder="Nombre" (keyup)="fullname($event)">
                            
                        </div>

                        <div class="form-group">
                            <input type="text" id="username" name="username" placeholder="Usuario" (keyup)="user($event)">
                            
                        </div>

                        <div class="form-group">
                            <input type="text" id="email" name="email" placeholder="Email" (keyup)="email($event)">
                            
                        </div>
                        
                        <input type="password" id="password" name="login" placeholder="Password" (keyup)="pass($event)">
                        <input type="password" id="passwordConfirm" name="login" placeholder="Confirm Password"
                            (keyup)="confirmPass($event)">

                        <div class="form-group">
                            <input type="radio" formControlName="role" value="ROLE_ADMIN" > Administrador
                            
                        </div>

                        <div class="form-group">
                            <input type="radio" formControlName="role" value="ROLE_USER"> Cliente
                            
                        </div>
                        
                    </form>
                </div>
            </div>
            <input type="button" value="Registrar" (click)="signup()">
        </div>
    </div>
</html>