<div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">×</span>
    </button>
    <h4 class="modal-title w-100" id="myModalLabel">Carrito de Compras</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-xl-12 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Productos   -   Cantidad</div>
                            <br>
                            <br>
                            <div *ngFor="let data of carrito" class="h5 mb-0 text-gray-800">{{data.ProductName}}   -   {{data.cantidad}}  <button type="button" mdbBtn color="danger" class="relative waves-light" (click)="restarCarrito(data)" mdbWavesEffect>-</button> </div>
                            <br>
                            <br>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Q{{cantidadTotal}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-12 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2" *ngIf="isUser">
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Direccion (A domicilio)</div>
                            <input type="text" id="Direccion" name="Direccion" placeholder="Direccion" (keyup)="direction($event)">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <h2>¿Quiere realizar esta orden?</h2>

    <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="modalRef.hide()"
        mdbWavesEffect>Seguir Comprando</button>
    <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="realizarOrden()"
        mdbWavesEffect>Realizar Orden!</button>

</div>