<div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">×</span>
    </button>
    <h4 class="modal-title w-100" id="myModalLabel">{{this.producto.ProductName}}</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-xl-12 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Descripcion: {{this.producto.Description}}</div>
                            <br>
                            <div class="h5 mb-0 text-gray-800"><img src="{{this.producto.ImagePath}}" width="80%" height="80%"></div>
                            <br>
                            <div *ngIf="this.producto.Discount != 0" class="h5 mb-0 font-weight-bold text-gray-800">Descuento: {{this.producto.Discount}}%</div>
                            <div class="h5 mb-0 text-gray-800"><input type="text" id="cantidad" name="cantidad" placeholder="Cantidad" (keyup)="quantity($event)"></div>
                            
                            <br>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Precio: Q{{this.cantidad * (this.producto.Price-(this.producto.Price * this.producto.Discount/100))}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">

    <button type="button" mdbBtn color="primary" class="relative waves-light" (click)="agregarCarrito()"
        mdbWavesEffect>Agregar Carrito!</button>

</div>