
<nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-right">
  <a class="navbar-brand" routerLink="/admin">AyDelivery</a>  <i class="fa fa-refresh" aria-hidden="true" (click)="actualizar()"></i>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link">Administrador</a>
      </li>
      <li class="nav-item">
        <input type="button" (click)="logout()" class="btn btn-primary" value="Log Out">
      </li>
    </ul>
  </div>
</nav>

<div class="row">
  <div class="col-xl-4">
    <div class="row">
      <div class="col-12 mt-3">
        <div class="wrapper mt-3">
          <div class="formContent">
            <div class="row">
              <div class="col-md-12">
                <div class="col-md-12 p-4">
                  <h4>Agregar un Producto</h4>
                  <form>
                    <div class="form-group">
                      <input type="text" id="productName" name="productName" placeholder="Nombre del Producto"
                        (keyup)="productName($event)">
                    </div>
                    <div class="form-group">
                      <input type="text" id="imagePath" name="imagePath" placeholder="Direccion Web de la Imagen"
                        (keyup)="imagePath($event)">
                    </div>
                    <div class="form-group">
                      <input type="text" id="description" name="description" placeholder="Descripcion"
                        (keyup)="description($event)">
                    </div>
                    <div class="form-group">
                      <input type="text" id="price" name="price" placeholder="Precio" (keyup)="price($event)">
                    </div>
                    <div class="form-group">
                      <input type="text" id="discount" name="discount" placeholder="Descuento %" (keyup)="discount($event)">
                    </div>
                    <div class="form-group">
                      <input type="text" id="category" name="category" placeholder="Categoria" (keyup)="category($event)">
                    </div>
                    <input id="agregarProducto" type="button" (click)="agregarProducto()" class="btn btn-primary" value="Agregar Producto">
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-8">
    <div class="row">
      <div class="col-12 mt-3">
        <div class="wrapper mt-3">
          <div class="formContent">
            <br>
            <h4>Historial de Ordenes</h4>
            <div class="row">
              <div class="col-md-4 p-2">
                <input type="button" (click)="getNueva()" class="btn btn-primary" value="Nueva Orden">
              </div>
              <div class="col-md-4 p-2">
                <input type="button" (click)="getPreparacion()" class="btn btn-primary" value="En Preparacion">
              </div>
              <div class="col-md-4 p-2">
                <input type="button" (click)="getCamino()" class="btn btn-primary" value="En Camino">
              </div>
              <div class="col-md-4 p-2">
                <input type="button" (click)="getEntregados()" class="btn btn-primary" value="Entregado">
              </div>
              <div class="col-md-4 p-2">
                <input type="button" (click)="getCanceladas()" class="btn btn-primary" value="Cancelada">
              </div>
              <div class="col-md-4 p-2">
                <input type="button" (click)="getPagadas()" class="btn btn-primary" value="Pagada">
              </div>
              <div class="col-12">
                <br>
                <br>
                <h4>{{title}}</h4>
                <br>
                <br>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Orden</th>
                      <th scope="col">Fecha</th>
                      <th scope="col">Tipo</th>
                      <th scope="col">Total</th>
                      <th scope="col">Accion</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of Orders;  let i = index">
                      <th scope="row">{{i + 1}}</th>
                      <td>{{data.orden_id}}</td>
                      <td>{{data.fecha}}</td>
                      <td>{{data.tipo_entrega}}</td>
                      <td>{{data.precio_total}}</td>
                      <td *ngIf="fases" ><input type="button" class="btn btn-primary" (click)="sigFase(data)" value="Siguiente Fase"></td>
                      <td *ngIf="eliminar"><input type="button" class="btn btn-danger" (click)="deleteOrder(data)" value="X"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xl-12">
    <div class="row">
      <div class="col-12 mt-3">
        <div class="wrapper mt-3">
          <div class="col-12">
            <div class="row">
              <div class="col-12">
                <br>
                <h4>Productos Agregados</h4>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Nombre</th>
                      <th scope="col">Direccion de la Imagen</th>
                      <th scope="col">Descripcion</th>
                      <th scope="col">Precio</th>
                      <th scope="col">Descuento %</th>
                      <th scope="col">Categoria</th>
                      <th scope="col">Eliminar</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of productos">
                      <th>{{data.idCatalog}}</th>
                      <td><input type="button" class="btn btn-primary" (click)="modificarNombre(data)" value="{{data.ProductName}}"></td>
                      <th><input type="button" class="btn btn-primary" (click)="modificarImagen(data)" value="Imagen"></th>
                      <td><input type="button" class="btn btn-primary" (click)="modificarDescripcion(data)" value="{{data.Description}}"></td>
                      <td><input type="button" class="btn btn-primary" (click)="modificarPrecio(data)" value="{{data.Price}}"></td>
                      <td><input type="button" class="btn btn-primary" (click)="modificarDescuento(data)" value="{{data.Discount}}"></td>
                      <td><input type="button" class="btn btn-primary" (click)="modificarCategoria(data)" value="{{data.Category}}"></td>
                      <td><input type="button" class="btn btn-danger" (click)="eliminarProducto(data)" value="Eliminar"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
