/* You can add global styles to this file, and also import other style files */
html {
    background-color: black;
    width: 100%;
    background-image: url("bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}