<html>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary navbar-right">
            <!-- style="background-color: #5fbae9;" -->
            <a class="navbar-brand" routerLink="/home">AyDelivery</a>
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <button class="btn btn-primary" routerLink="/login" >Iniciar Sesion</button>
                    </li>
                </ul>
            </div>

        </nav>


        <div class="wrapper mt-5">
            <div id="formContent">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6 p-4">
                        <h1>Iniciar Sesión</h1>
                        <form>

                            <div class="form-group">
                                <input type="text" id="username" name="username" placeholder="Username" (keyup)="user($event)">
                                
                            </div>

                            <div class="form-group">
                                <input type="password" id="password" name="password" placeholder="Password" (keyup)="password($event)">
                                
                            </div>
                            
                        </form>
                    </div>
                </div>
                <input id="signin" type="button" value="Iniciar Sesión" (click)="signin()">
                <button class="btn btn-primary" routerLink="/signup" >Registrar</button>                
            </div>
        </div>
    </div>
</html>